# .coveragerc to control coverage.py
# based on http://coverage.readthedocs.io/en/latest/config.html
[run]
branch = True
source = root_numpy
include = */root_numpy/*
omit =
    */root/*
    */root_numpy/extern/*
    */root_numpy/setup_utils.py
    */tests/*
    */tests.py
    */setup.py
[report]
exclude_lines =
    # Enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError
